body {
  background-color: blanchedalmond;
}
#createBtn {
  cursor: pointer;
}
.editBtn,
.deleteBtn {
  cursor: pointer;
}

goal #goalsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
