@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

#createBtn {
  cursor: pointer;
}
.editBtn,
.deleteBtn,
.updateGoalButton {
  cursor: pointer;
}
.goalBtnContainer {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./img/parchment.jpeg) no-repeat center center/cover;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

#mainContainer {
  height: 800px;
  width: 500px;
  border: 2px solid black;
  border-radius: 30px;
}
#createGoal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#goalsContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.goalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
