@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

#createBtn {
  cursor: pointer;
}
.editBtn,
.deleteBtn,
.updateGoalButton {
  cursor: pointer;
}

.editBtn {
  margin-right: 1rem;
}

.deleteBtn {
  margin-right: 1 rem;
}

#mainContainer {
  margin-top: 15%;
}
#createGoal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5 auto;
}

#goalsContainer {
  display: flex;
  flex-direction: column;
}

.goalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
